In [1]:
%run -i helper_functions.py

In [10]:
# Initial imports
import os
import requests
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import datetime as dt
from pathlib import Path
import yfinance as yf
from helper_functions import *
from dotenv import load_dotenv
import json
%matplotlib inline

In [3]:
# Load .env enviroment variables
load_dotenv(r"C:\Users\dredm\Desktop\Daryl\Fintech_Bootcamp\Git_Repos\Project-1.env")
eia_api_key = os.getenv("EIA_API_KEY")

# dates to get data 
#end_date = date.today()
#start_date = end_date -  relativedelta(years=11)
#start_date

start_date = "2010-01-01"
end_date = "2014-12-30"

In [4]:
# Reading Temperature data and convert it to dataframe
#Data cleanup
# Reading whale returns
df_weather = weather_data(r"Data\Pittsburg_Area_Temp_2010-2014.csv")
df_weather.head()

            Maximum  Minimum  Average
Date
2010-01-01       34       20     27.0
2010-01-02       20        8     14.0
2010-01-03       18        6     12.0
2010-01-04       23       16     19.5
2010-01-05       24       19     21.5

In [5]:
# Reading Natural gas data and convert it to dataframe
#Data cleanup
#describe()

df_historic = yfinance_tickers_data("NG=F", start_date, end_date)
#df_historic = df_historic.drop(["Open", "High", "Low", "Volume", "Dividends", "Stock Splits" ], axis=1)
df_historic

            Close
Date
2010-01-04  5.884
2010-01-05  5.637
2010-01-06  6.009
2010-01-07  5.806
2010-01-08  5.749
...           ...
2014-12-22  3.144
2014-12-23  3.171
2014-12-26  3.007
2014-12-29  3.189
2014-12-30  3.094

[1246 rows x 1 columns]

In [ ]:
#Return close prices of Natural gas and Average temp

In [6]:
#join close price of natural gas and Average temprature using concatenation

df = pd.concat((df_historic, df_weather), join="inner", axis=1 , sort=True).dropna()
display(df.isnull().sum())
df

Close      0
Maximum    0
Minimum    0
Average    0
dtype: int64

            Close  Maximum  Minimum  Average
Date
2010-01-04  5.884       23       16     19.5
2010-01-05  5.637       24       19     21.5
2010-01-06  6.009       26       22     24.0
2010-01-07  5.806       24       21     22.5
2010-01-08  5.749       23       11     17.0
...           ...      ...      ...      ...
2014-12-22  3.144       46       23     34.5
2014-12-23  3.171       53       39     46.0
2014-12-26  3.007       49       30     39.5
2014-12-29  3.189       36       25     30.5
2014-12-30  3.094       32       19     25.5

[1246 rows x 4 columns]

In [ ]:
#Find daily return of the two joined data frame
# Drop nulls
# Count nulls

In [ ]:
#plot daily return of the close price of naturan gas and temprature
#print out any similarities and differences between them
## Box plot to visually show risk

In [ ]:
# Calculate the daily standard deviations
# Calculate the annualized standard deviation (252 trading days)

In [ ]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

In [ ]:
# Calculate and plot the correlation

In [ ]:
# explation the correlation between Temp and Price of Natural gas

In [51]:
# Linear regresssion with temp and natural gas prices
# Pull out average temp and natural gas closing price from the df
df_temp = df["Average"]
df_ng = df["Close"]
#drop the index from both so the arrays are 1-dimensional
df_temp.reset_index(drop=True, inplace=True)
df_ng.reset_index(drop=True, inplace=True)
#assign independent variable (x) and dependent variable (y) to the proper dataframe
#reshape the data frames to pandas arrays
x = np.array(df_temp).reshape(-1,1)
y = np.array(df_ng)
#print(X)
#create the model and fit it to the data
model = LinearRegression()
model.fit(x,y)
r_sq = model.score(x,y)
print("Coefficient of determination", r_sq)
print("Slope", model.coef_)
print("Intercept", model.intercept_)
y_pred = model.predict(x)
print("Predicted response:", y_pred, sep='\n')

Coefficient of determination 0.020098304306998327
Slope [-0.00562753]
Intercept 4.14313914625356
Predicted response:
[4.03340222 4.02214715 4.00807831 ... 3.92085152 3.97149934 3.99963701]

In [48]:
# Linear regresssion with percent change in temp and natural gas prices
#convert dataframe to percent change
df_pct_change = df.pct_change().dropna()
# Pull out average temp and natural gas closing price from the df
df_pct_chg_temp = df_pct_change["Average"]
df_pct_chg_ng = df_pct_change["Close"]
#drop the index from both so the arrays are 1-dimensional
df_pct_chg_temp.reset_index(drop=True, inplace=True)
df_pct_chg_ng.reset_index(drop=True, inplace=True)
#assign independent variable (x) and dependent variable (y) to the proper dataframe
#reshape the data frames to pandas arrays
x = np.array(df_pct_chg_temp).reshape(-1,1)
y = np.array(df_pct_chg_ng)
#print(x)
#create the model and fit it to the data
model = LinearRegression()
model.fit(x,y)
r_sq = model.score(x,y)
print("Coefficient of determination", r_sq)

Coefficient of determination 0.00821062445110221

In [ ]:
%run -i helper_functions.py